<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998026875715-53r56gkp7n74b0cg8cck9r408htlkps7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998026875715-53r56gkp7n74b0cg8cck9r408htlkps7</string>
	<key>API_KEY</key>
	<string>AIzaSyCLw4JB0QAvybcQFi4333oP8rwWn2IrPl8</string>
	<key>GCM_SENDER_ID</key>
	<string>998026875715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arunlakhera.chatpadapp</string>
	<key>PROJECT_ID</key>
	<string>chatpad-d5ad7</string>
	<key>STORAGE_BUCKET</key>
	<string>chatpad-d5ad7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998026875715:ios:4e0e6bbe05ff0a63ca95f6</string>
	<key>DATABASE_URL</key>
	<string>https://chatpad-d5ad7.firebaseio.com</string>
</dict>
</plist>